#todoapp

  %header
    %h1 Todos
    %input#new-todo{type: "text", placeholder: "What needs to be done?"}

  %section#main
    %input#toggle-all{type: "checkbox"}
    %label{for: "toggle-all"} Mark all as complete
    %ul#todo-list

  %footer
    %a#clear-completed Clear completed
    #todo-count

#instructions Double-click to edit a todo.

#credits
  Created by
  %br
  %a{href: "http://jgn.me/"} J&eacute;r&ocirc;me Gravel-Niquet.
  %br
  Rewritten by:
  %a{href: "http://addyosmani.github.com/todomvc"} TodoMVC.
